/GNUmakefile
/build/
/.cache/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
.vscode
.vscode/*
nes.log
log.txt

/subprojects/slirp
